<!DOCTYPE html>

<html>

<head>
  <title>Superadmin</title>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!--link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}"-->
  <link rel="stylesheet" href="{% static 'mycss/common.css' %}">

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/FileSaver.js' %}"></script>
  <script src="{% static 'js/bootbox.min.js' %}"></script>

  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'idlecount.js' %}"></script>

  {% block extraelements %}

  {% endblock extraelements %}
  <script type="text/javascript">
      function export_db(){
        console.log("called");

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {

        if (this.readyState == 4 && this.status == 200) {
          console.log(this.responseText);

          var blob = new Blob([this.responseText], {type: "application/json;charset=utf-8"});
          saveAs(blob, "oims.json");
        }
        };
      xhttp.open("GET", "/superadminexport", true);
      xhttp.send();
    }

    function showmodal(){
    	$("#ChangepwdModal").modal();
    }
    function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      };
    function change_p(){
    	oldp=document.getElementById("oldp").value;
    	newp=document.getElementById("newp").value;

    	console.log(oldp, newp);

    	var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {

        if (this.readyState == 4 && this.status == 200) {
          if(this.responseText=="wrong password"){
          	document.getElementById("wperr").innerHTML="Wrong ";
          	$('#ChangepwdModal').effect('shake');
          }
          if(this.responseText=="ok"){
          	window.location="/superadminlogin/";
          }

        }
        };
        xhttp.open("POST", "/superadminchangepass/", true);
        var csrftoken = getCookie('csrftoken');
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
       	xhttp.setRequestHeader("X-CSRFToken", csrftoken);


	      query="oldp="+oldp;
	      query+="&newp="+newp;
	      xhttp.send(query);

    }
    function clear_form(){
    	document.getElementById("newp").value="";
    	document.getElementById("oldp").value="";
    	document.getElementById("wperr").innerHTML="";
      document.getElementById("errpwd").innerHTML="";
      document.getElementById("wperr2").innerHTML="";
      document.getElementById("errexst").innerHTML="";

    }

    function clear_admin_form(){

    	document.getElementById("email").value="";
    	document.getElementById("pwd1").value="";
    	document.getElementById("pwd2").value="";
    	document.getElementById("pwds").value="";
    	document.getElementById("nick").value="";
      document.getElementById("errpwd").innerHTML="";
      document.getElementById("errexst").innerHTML="";
      document.getElementById("wperr2").innerHTML="";
      document.getElementById("wperr").innerHTML="";
      document.getElementById("errexceed").innerHTML="";

    }

    function reset_confirm(){
    	bootbox.confirm("This will delete all the data and change superuser password to default", function(result){
            if(result==true){
              window.location="/superadminflush/";
              }
            });
    }

    function show_create_admin(){
    	$("#CreateAdminModal").modal();
    }

    function isvalid(pass){
         var re = /(?=.*\d)(?=.*[a-z-A-Z]).{8,}/;
    return re.test(pass);

      };

    function checking(val){
      if(isvalid(val)==true){
        document.getElementById("errpwd").innerHTML="";
      }
      else{
       document.getElementById("errpwd").innerHTML="Invalid ";
      }
    }

    function create_admin(){
    	email=document.getElementById("email").value;
    	nick=document.getElementById("nick").value;
    	pwd1=document.getElementById("pwd1").value;
    	pwd2=document.getElementById("pwd2").value;
    	pwds=document.getElementById("pwds").value;


    	var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {

        if (this.readyState == 4 && this.status == 200) {
          if(this.responseText=="wrong password"){
          	document.getElementById("wperr2").innerHTML="Wrong";

          	$("#CreateAdminModal").effect("shake");


          }
          else if(this.responseText=="ok"){
          	$("#CreateAdminModal").modal('hide');
          	clear_admin_form();
          	bootbox.alert("New admin "+email+" has been created");
          }
          else if(this.responseText=="exists"){

          	document.getElementById("errexst").innerHTML="User Exists";
          	$("#CreateAdminModal").effect("shake");
          }

          else if(this.responseText=="active_admin_exceeds"){
            document.getElementById("errexceed").innerHTML="Two admins are already active!";
            $("#CreateAdminModal").effect("shake");
          }

        }
        };


        xhttp.open("POST", "/superadmincreate/", true);
        var csrftoken = getCookie('csrftoken');
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
       	xhttp.setRequestHeader("X-CSRFToken", csrftoken);


	      query="email="+email;
	      query+="&nick="+nick;
	      query+="&pwd1="+pwd1;
	      query+="&pwd2="+pwd2;
	      query+="&pwds="+pwds;

	      if(email.length==0 || nick.length==0 || pwd1.length==0 || pwd2.length==0 || pwds.length==0 || isvalid(pwd1)==false){
	      	$("#CreateAdminModal").effect("shake");
	      }
	      else{
	      	xhttp.send(query);
	      }



    }

  </script>
</head>
<nav class="navbar navbar-light bg-faded">
  <ul class="nav navbar-nav">
    <a class="navbar-brand" href="/home/">{{info.orgname}} Inventory</a>

  </ul>

   <div class="nav navbar-right">
    <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11">
            Hello,Superuser!

            <a href="/logout/">  Logout</a>
            </div>
          </div>

  </div>
  </nav>
<body id="main-body">
  <!--div class="container"-->
    <div class="row">
      <div class="col-sm-2">
        <div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
              </button>
              <span class="visible-xs navbar-brand">Sidebar menu
              </span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav">
                <li>
                  <a href="/superadminpanel">General
                  </a>
                </li>
                <li>
                  <a href="#" onclick="show_create_admin()">Create Admin
                  </a>
                </li>
                <li>
                  <a href="#" onclick="showmodal()">Change Password
                  </a>
                </li>
                <li>
                  <!--a href="/superadminexport">Database Export
                  </a-->
                  <a href="#" onclick="export_db()">Database Export</a>
                </li>
                <li>
                  <!--a href="/superadminexport">Database Export
                  </a-->
                  <a href="/superadminimport">Database Import</a>
                </li>
                <li>
                  <a href="#" onclick="reset_confirm()">Hard Reset
                  </a>
                </li>

              </ul>
            </div>
            <!--/.nav-collapse -->
          </div>
        </div>
      </div>



      <div class="col-sm-10">
        <div class="container-fluid">

          {% block content %}


          {% endblock content %}


          <!--button onclick = 'updateinformation()'>Update</button-->
        </div>
      </div>
    </div>

  <!--/div-->
  <div class="footer fstyle">
  &copy: <a href="https://tetrad-oims.github.io/" style="">Tetrad OIMS</a>, 2016</div>


</body>
