{% extends "superadminpanel/base2.html" %}

 {% block content %}
 <form action="/superadminpanel/" method="post" name="myForm">
      {% csrf_token %}
        <div class="form-group">
          <label for="currency">Currency:</label>
          <input type="text" class="form-control" name="currency" id="currency" value='{{info.currency}}' maxlength="50">
        </div>

        <div class="form-group">
          <label for="org">Organization Name:</label>
          <input type="text" class="form-control" name="org" id="org" value='{{info.orgname}}' maxlength="50">
        </div>

        <div class="form-group">
          <label for="refresh">Auto Refresh After:</label>
          <input type="text" class="form-control" name="refresh" id="refresh" value='{{info.refresh}}' maxlength="50">
        </div>

        <div class="form-group">
          <label for="timeout">Auto Logout After:</label>
          <input type="text" class="form-control" name="timeout" id="timeout" value='{{info.timeout}}' maxlength="50">
        </div>

        <input type="submit" value="Submit">
</form>

 {% endblock content %}
