#log {
  position:absolute;
  right:0;
}
/* make sidebar nav vertical */ 
@media (min-width: 0px) {
  .sidebar-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;


}
.sidebar-nav .navbar ul {
    float: none;
    display: block;
}
.sidebar-nav .navbar li {
    float: none;
    display: block;
}
.sidebar-nav .navbar li a {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
    border-color: black;

}


body .modal-dialog {
    width: 70%; /* desired relative width */
    left: 5%; /* (100%-width)/2 */
    /* place center */
    right:5%;
    margin-left:auto;
    margin-right:auto; 
}
