#log {
  position:absolute;
  right:0;
}
/* make sidebar nav vertical */
@media (min-width: 0px) {
  .sidebar-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;


}
.sidebar-nav .navbar ul {
    float: none;
    display: block;
}
.sidebar-nav .navbar li {
    float: none;
    display: block;
}
.sidebar-nav .navbar li a {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
    border-color: black;

}


body .modal-dialog {
    width: 70%; /* desired relative width */
    left: 5%; /* (100%-width)/2 */
    /* place center */
    right:5%;
    margin-left:auto;
    margin-right:auto;
}

.popover {

      font-size: 13px;
      font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre;
      color:black;

    }
.mod a{
  color:white !important;
  font-size: 1.2em !important;
  }

/*ul.mod a:hover { color: white !important; }*/
/*#2098D9*/
#ac {
  background: linear-gradient(to left, #337ab7 100%, #0000ff 50%);
  background-size: 100% 10%;
  background-position:bottom;
  background-repeat:no-repeat;
}

/*{% if url_name == 'home_view' %}active{% endif %}*/
html, body {height: 100%; padding: 0; margin: 0; }
body { display: table; width: 100%; height: 100%; }
.header, .footer, .content { display: table-row; }
.header, .footer { height: 1px; }
.content { height: auto; }

/*.fstyle{

    text-align: center;

  }*/

  .fstyle{
    /*background: url('http://www.kikk.be/2012/files/templates/kikk/public/assets/images/bgBottomFooter.jpg') repeat-x scroll 0 0 #085a79;
        */
      text-align: center;
      background: #D1CDBD;
      color: black;
      }

    }



    .fstyle a:link{

    }

.dt-button-collection a.buttons-columnVisibility:before,
.dt-button-collection a.buttons-columnVisibility.active span:before {
    display:block;
    position:absolute;
    top:1.2em;
    left:0;
    width:12px;
    height:12px;
    box-sizing:border-box;
}

.dt-button-collection a.buttons-columnVisibility:before {
    content:' ';
    margin-top:-6px;
    margin-left:10px;
    border:1px solid black;
    border-radius:3px;
}

.dt-button-collection a.buttons-columnVisibility.active span:before {
    content:'\2714';
    margin-top:-11px;
    margin-left:12px;
    text-align:center;
    text-shadow:1px 1px #DDD, -1px -1px #DDD, 1px -1px #DDD, -1px 1px #DDD;
}

.dt-button-collection a.buttons-columnVisibility span {
    margin-left:0px;
}
a.dt-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	/*color:#666666;*/
  color:#1C1C1C;
	font-family:Arial;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 4px #ffffff;
}
a.dt-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05,#337ab7), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #337ab7 5%, #337ab7 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #337ab7 5%, #337ab7 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	/*background-color:#337ab7;*/

}
a.dt-button:active {
	position:relative;
	top:1px;
}
