#log {
  position:absolute;
  right:0;
}
/* make sidebar nav vertical */
@media (min-width: 0px) {
  .sidebar-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;


}
.sidebar-nav .navbar ul {
    float: none;
    display: block;
}
.sidebar-nav .navbar li {
    float: none;
    display: block;
}
.sidebar-nav .navbar li a {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
    border-color: black;

}


body .modal-dialog {
    width: 70%; /* desired relative width */
    left: 5%; /* (100%-width)/2 */
    /* place center */
    right:5%;
    margin-left:auto;
    margin-right:auto;
}

.popover {
      width: 600px;
      max-width: 600px;
      font-size: 13px;
      font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre;
      width: 600px;
    }
.mod a{
  color: grey !important;
  font-size: 1.2em !important;
  }

ul.mod a:hover { color: white !important; }


html, body {height: 100%; padding: 0; margin: 0; }
body { display: table; width: 100%; height: 100%; }
.header, .footer, .content { display: table-row; }
.header, .footer { height: 1px; }
.content { height: auto; }

/*.fstyle{

    text-align: center;

  }*/

  .fstyle{
    /*background: url('http://www.kikk.be/2012/files/templates/kikk/public/assets/images/bgBottomFooter.jpg') repeat-x scroll 0 0 #085a79;
        */
      text-align: center;
      background: #D1CDBD;
      color: black;
      }

    }
    .fstyle a:link{
      
    }
