<!DOCTYPE html>

<html>

<head>
  <title>{{static_info.orgname}} Inventory</title>
  {% load static %}
  <meta charset="utf-8">
  <!--meta http-equiv="refresh" content="{{static_info.refresh}}"-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/hover.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/jquery-ui.js' %}"></script>

  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

  <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
  <!--link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}"-->
  <script src="{% static 'js/FileSaver.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css'%}"/>
  <!--link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"-->
  <!--script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js">

  </script-->
  <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}"/>
  <script type="text/javascript" src="{% static 'scripts.js' %}"></script>


  <!--datepicker depends on moment-->
  <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>

  <!--datepicker-->
  <script type="text/javascript" src="{% static 'js/daterangepicker.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker.css' %}"/>

  <script type="text/javascript" src="{% static 'js/bootbox.min.js' %}"></script>
  <script src="{% static 'db_export.js' %}"></script>


  <link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'mycss/common.css' %}"/>

  <!--for export-->
  <script type="text/javascript" src="{% static 'js/buttons.colVis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/buttons.flash.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jszip.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/pdfmake.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/buttons.print.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/vfs_fonts.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script



</head>
<body id="body">


<nav class="navbar navbar-inverse navbar-fixed-top">
  {% with request.resolver_match.url_name as url_name %}
  <ul class="nav navbar-nav mod">
    <li class="nav-item">
      <a class="nav-link hvr-underline-from-center" id="{% if url_name == 'home_view' %}ac{% endif %}" href="/home/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link hvr-underline-from-center" href="/item/">Item</a>
    </li>
    {% if group|stringformat:"s" == "admin" %}
      <li class="nav-item">
        <a class="nav-link hvr-underline-from-center" href="/users/">User
        </a>
      </li>
    {% endif %}

    <li class="nav-item">
      <a class="nav-link hvr-underline-from-center" href="/vendor/">Vendor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link hvr-underline-from-center" href="/myaccount">My Account</a>
    </li>



    <li class="nav-item">
      <a href="#" class="nav-link hvr-underline-from-center" onclick="export_db()">DB Backup</a>
    </li>
  </ul>
  {% endwith %}

   <div class="nav navbar-right">
    <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-11"style="color:white">
            Hello,{{request.user.first_name}}!
            <a tabindex="0"
            href="#"
            role="button"
            data-html="true" data-toggle="popover"
            data-trigger="focus" data-placement="bottom" data-content="{{alert_content}}">Alert
              <span class="badge">{{alert_count}}
              </span>
            </a>
            <a style="color:white" href="/logout/">Logout</a>
            </div>
          </div>

  </div>
</nav>

  <div class="">
  <br>
  <br>

  <div class="well">
    <h2 align="center">{{static_info.orgname}} Inventory</h2>
    <input type="hidden" id="reload" name="" value="{{static_info.refresh}}">
    <input type="hidden" id="tout" name="" value="{{static_info.timeout}}">
  </div>
    <div class="row">
      <div class="col-sm-2">
        <!--div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
              </button>
              <span class="visible-xs navbar-brand">Sidebar menu
              </span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav">
                <li>
                  <a href="/home/">Home
                  </a>
                </li>
                <li>
                  <a href="/item/">Item
                  </a>
                </li>
                <li>
                  <a href="/myaccount">My Account
                  </a>
                </li>
                {% if group|stringformat:"s" == "admin" %}
                <li>
                  <a href="/users/">User
                  </a>
                </li>
                {% endif %}
                <li>
                  <a href="/vendor/">Vendor
                  </a>
                </li>



              </ul>
            </div>
            </.nav-collapse>
          </div>
        </div-->
      </div>

      <div class="col-sm-12">


        <div class="container-fluid">
          <!--h2>Dynamic Tabs</h2-->
          <!--div class="well">
          <div class="row">
          <div class="col-sm-8"></div>
          <div class="col-sm-4">
            Hello,{{request.user.first_name}}!
            <a tabindex="0"
            role="button"
            data-html="true" data-toggle="popover"
            data-trigger="focus" data-placement="bottom" data-content="{{alert_content}}">Alert
              <span class="badge">{{alert_count}}
              </span>
            </a>
            <a href="/logout/">Logout</a>
            </div>
          </div>
          </div-->

          <ul class="nav nav-pills nav-justified">
            <!--li class="active"><a data-toggle="tab" href="#home">Home</a></li-->
            <li class="active">
              <a data-toggle="tab" href="#inventory">Inventory
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#requests">Requests
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#return">Return
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#history">History:Requests
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#historyitems">History:Items
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#issues">Issues
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="inventory" class="tab-pane fade in active">
            <br>
            {% block table %}
            {%endblock table %}

            </div>

            <div id="requests" class="tab-pane fade">
              <br>
            <!--div class="alert alert-success" id="alert-success">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Success!</strong> Request Places Successfully!.
            </div-->
            <!--new request button-->
            {% if group|stringformat:"s" == "user" %}
              {% block newrequests %}

              {% endblock newrequests %}
            {% endif %}

            <!--pending request panels-->

            {% block pendingrequests %}

            {% endblock pendingrequests %}



            {% block processedrequest %}

            {% endblock processedrequest %}

            {% block createitemrequest %}

            {% endblock createitemrequest %}

            {% block passwordrequest %}

            {% endblock passwordrequest %}
            </div>


            <div id="history" class="tab-pane fade">
              <br>
             {% block history %}

             {% endblock history %}

            </div>
            <div id="historyitems" class="tab-pane fade">
              <br>
             {% block itemhistory %}

             {% endblock itemhistory %}

            </div>
            <div id="return" class="tab-pane fade">
              <br>
            {% block returnitem %}

            {% endblock returnitem %}

            </div>
            <div id="issues" class="tab-pane fade">
              <br>
              {% block issues %}
              {% endblock issues %}
            </div>

          </div>
        </div>
      </div>
    </div>
<!--top containner-->
  </div>
  <script type="text/javascript">
  </script>
  <div class="footer fstyle">
  &copy: <a href="https://tetrad-oims.github.io/">Tetrad OIMS</a>, 2016</div>

</body>

<script src="{% static 'idlecount.js' %}"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>

</html>
