<!DOCTYPE html>

<html>

<head>
  <title>OIMS</title>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="60" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="{% static 'js/jquery-ui.js' %}"></script>

  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
  <script type="text/javascript" src="{% static "scripts.js" %}"></script>

  
  <!--datepicker depends on moment-->
  <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    
  <!--datepicker-->
  <script type="text/javascript" src="{% static 'js/daterangepicker.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker.css' %}">

  </script>

  <script type="text/javascript">
    
          
               //for the session timeout
               session_timeout = 300;
               page_load_time = new Date().getTime();


               function check_session_timeout(){

                   // check timeout
                   active_seconds = (new Date().getTime() - page_load_time) / 1000;
                   if (active_seconds >= session_timeout){
                       window.location = '/logout/';
                   }else{
                       setTimeout('check_session_timeout()', 5000)
                   }

               }

               //Start checking for session timeout
               check_session_timeout();
          
           
  </script>
          <style type="text/css">
          #log {

            position:absolute;
            right:0;
          }
           /* make sidebar nav vertical */ 
           @media (min-width: 0px) {
            .sidebar-nav .navbar .navbar-collapse {
              padding: 0;
              max-height: none;


            }
            .sidebar-nav .navbar ul {
              float: none;
              display: block;
            }
            .sidebar-nav .navbar li {
              float: none;
              display: block;
            }
            .sidebar-nav .navbar li a {
              padding-top: 10px;
              padding-bottom: 12px;
              padding-left: 10px;
              border-color: black;

            }
          }

          body .modal-dialog {
            width: 70%; /* desired relative width */
            left: 5%; /* (100%-width)/2 */
            /* place center */
            right:5%;
            margin-left:auto;
            margin-right:auto; 
          }
          
          #modal_error{
            color:red;
            text-align: center;
          }
            


        </style>
      </head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
              </button>
              <span class="visible-xs navbar-brand">Sidebar menu
              </span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav">
                <li>
                  <a href="/home/">Home
                  </a>
                </li>
                <li>
                  <a href="/myaccount">My Account
                  </a>
                </li>
                {% if group|stringformat:"s" == "head" %}
                <li>
                  <a href="/users/">User 
                  </a>
                </li>
                {% endif %}
                {% if group|stringformat:"s" == "temporary-head" %}
                <li>
                  <a href="/users/">User 
                  </a>
                </li>
                {% endif %}
                <li>
                  <a href="/vendor/">Vendor
                  </a>
                </li>
                <li>
                  <a href="/item/">Item
                  </a>
                </li>
                
                
              </ul>
            </div>
            <!--/.nav-collapse -->
          </div>
        </div>
      </div>
      
      <div class="col-sm-10">
      
      
        <div class="container-fluid">
          <!--h2>Dynamic Tabs</h2-->
          <div id="log">
            <a tabindex="0"
            role="button" 
            data-html="true" data-toggle="popover" 
            data-trigger="focus" data-placement="bottom" data-content="{{alert_content}}">Alert
              <span class="badge">{{alert_count}}
              </span>
            </a>
            <a href="/logout/">Logout</a>  
          </div>
          
          <ul class="nav nav-tabs">
            <!--li class="active"><a data-toggle="tab" href="#home">Home</a></li-->
            <li>
              <a data-toggle="tab" href="#inventory">Inventory
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#requests">Requests
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#history">History:Requests
              </a>
            </li>
            <li>
              <a data-toggle="tab" href="#historyitems">History:Items
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="inventory" class="tab-pane fade in active">
            {% block table %}      
            {%endblock table %}
               
            </div>
            
            <div id="requests" class="tab-pane fade">
            <!--div class="alert alert-success" id="alert-success">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>Success!</strong> Request Places Successfully!.
            </div-->
            <!--new request button-->
            {% if group|stringformat:"s" == "manager" %}
              {% block newrequests %}
                
              {% endblock newrequests %}
            {% endif %}

            <!--pending request panels-->
            
            {% block pendingrequests %}
                
            {% endblock pendingrequests %}
            


            {% block processedrequest %}
                
            {% endblock processedrequest %}

            {% block createitemrequest %}
                
            {% endblock createitemrequest %}

            {% block passwordrequest %}
                
            {% endblock passwordrequest %}
            </div>
            

            <div id="history" class="tab-pane fade">
             {% block history %}
                 
             {% endblock history %}
              
            </div>
            <div id="historyitems" class="tab-pane fade">
             {% block itemhistory %}
                 
             {% endblock itemhistory %}
              
            </div>

          </div>
        </div>
      </div>
    </div>
<!--top containner-->
  </div->
  <script type="text/javascript">
  </script>

</body>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
</html>