{% extends "inventory/base.html" %}
{% block table %}
    <table id="inventorytable">
	    <thead>
	      <tr>
	        <th style="width:15%">Item Name
	        </th>
	        <th style="width:10%">Inside
	        </th>
	        <th style="width:10%">Outside
	        </th>
	        <th style="width:15%">Unit Price
	        </th>
	        <th>Vendor
	        </th>
	      </tr>
	    </thead>
        {% for items in inv %}
        <tr>
            <td >
              <a href="{% url 'item_details' name=items.item_name %}">{{items.item_name}}</a>
            </td>
            <td>{{items.quantity_inside}}</td>
            <td>{{items.quantity_outside}}</td>
            <td>{{items.unit_price}}</td>
            <td>{{items.vendor}}</td>
        </tr>
        {% endfor %}
    </table>
	<script type="text/javascript">
	    $(document).ready(function(){
	      $('#inventorytable').DataTable({
	        select: true}
	                                    );
	    }
	                     );
	</script>
{% endblock table %}


{% block newrequests %}

<button type="button" class="btn btn-info btn-small" data-toggle="modal" data-target="#myModal">New Request</button>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" id="modal-close" onclick="req_close()" class="close" data-dismiss="modal">&times;</button>
          

          <h4 class="modal-title">New Request</h4>
        </div>
        <div class="modal-body">
          Item name:
        		<select name="requested_item_name_dropdown" id="requested_item_name_dropdown" onchange="showQuantity(this.value)">
          				<option selected="selected">Select..</option>
          				{%for item in item_names%}
          				<option value="{{item.item_name}}">{{item.item_name}}</option>
          				{% endfor %}
        		</select>

        		Requested quantity:
        		<select id="item_quantity_dropdown" name="requested_quantity">
        			<option >1</option>
        		</select>
        		Requestee:
        		<datalist id="requestee_names">
        		{% for name in requestee %}
        			<option value="{{name}}">
        		{% endfor %}
        		</datalist>
        		<input type="text" list="requestee_names" name="requestee" id="requestee"/>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea placeholder="Describe your request here..." class="form-control" rows="5"
                 id="description" value=" "></textarea>
            </div>

            
    		
        </div>
        <div class="modal-footer">
        	<!--h5>error in fields</h5-->
        	<div class="row">
  				<div class="col-sm-8"><h4 id="modal_error">Error in Request</h4></div>
  				<div class="col-sm-4">
  					<button type="button" class="btn btn-default" onclick="placerequest()">Place Request</button>
          
  				</div>
  				
			</div>
          <!--button type="button" class="btn btn-default" onclick="placerequest()" data-dismiss="modal">Place Request</button-->
        </div>
      </div>
      
    </div>
</div>
{% endblock newrequests %}


{% block pendingrequests %}
    <div id="request_panel">
    {% if group|stringformat:"s" == "head" %}
    {%for p in pending%}
    {% if forloop.first %}
    	<h2>Pending Requests</h2>
    {% endif %}
    <div id="req_panel{{p.id_no}}">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-4">Request of {{p.item_name}}
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">Request for {{p.requestee}}
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">Requested Quantity:{{p.requested_quantity}}
            </div>
            <div class="col-sm-4">Available:{{p.quantity_inside}}
            </div>
            <div class="col-sm-4">
              Approve:
              <select id="approved_item_qty_dropdown{{p.id_no}}">
                <option value="{{p.requested_quantity}}">{{p.requested_quantity}}
                </option>
                <option value="">more..
                </option>
              </select>
              <script type="text/javascript">
                //removed id here
                generateOptions("approved_item_qty_dropdown{{p.id_no}}",{{p.requested_quantity}});
              </script>
            </div>
          </div>
          <p>Description:{{p.description}}            
          </p>
          <button type="button" class="btn btn-default" onclick="processrequest('{{p.id_no}}','approve',
                                                                 document.getElementById('approved_item_qty_dropdown{{p.id_no}}').value)">Approve
          </button>
          <button type="button" class="btn btn-default" onclick="processrequest('{{p.id_no}}','reject','0')" data-dismiss="modal">Reject
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    
    {% if group|stringformat:"s" == "manager" %}
    {%for p in pending%}
    {% if forloop.first %}
      <h2>Pending Requests</h2>
    {% endif %}
    <div id="req_panel{{p.id_no}}">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-4">Request of {{p.item_name}}
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">Request for {{p.requestee}}
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">Requested Quantity:{{p.requested_quantity}}
            </div>
            <div class="col-sm-4">Available:{{p.quantity_inside}}
            </div>
            
          </div>
          <p>Description:{{p.description}}            
          </p>
          
        </div>
      </div>
    </div>
    {% endfor %}
    
    {% endif %}
    
  	</div>
                  
{% endblock pendingrequests %}


{% block processedrequest %}


{% for p in processed %}

{% if forloop.first %}
      <h2>Processed Requests:</h2>
{% endif %}
<div id="processed_req_panel{{p.id_no}}">
	<div class="panel panel-default" width="20%">

		<div class="panel-body">
			<div class="row">
				<div class="col-sm-4">Requested of:{{p.item_name}}
				</div>
				<div class="col-sm-4">Request for:{{p.requestee}}
				</div>
				<div class="col-sm-4">Status:{{p.action}}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">is {{p.action}}ed on {{p.date_of_process}}
				</div>
				<div class="col-sm-6" align="right">
					{% if group|stringformat:"s" == "manager" %}
					<button type="button" class="btn btn-default" 
					onclick="acknowledge('processed_req_panel{{p.id_no}}')">Okay
					</button>
					{% endif %}
				</div>

			</div>
		</div>
	</div>
</div>

{% endfor %}

    
{% endblock processedrequest %}

{% block history %}

<div class="well well-sm">
  <div class="row">
    <div class="col-sm-8">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="daterange" class="control-label col-sm-5">Specify Date Range:</label>
          <div class="col-sm-7">
            <input type="text" name="daterange" class="form-control" id="daterange" value="{{date_range.start}} - {{date_range.end}}" />  
          </div>
          
        
        </div>
      </form>
    </div>
    
    <div class="col-sm-4">
      <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-primary" onclick="showhistory()">Show</a>
        <a href="#" class="btn btn-default" onclick="resethistory('{{date_range.start}} - {{date_range.end}}')">Reset</a>
      </div>
      
    </div>
  </div>
</div>
<table id="historytable">
  <thead>
    <tr>
    <th >Date
    </th>
    <th>Item Name
    </th>
    <th>Quantity
    </th>
    <th>Action
    </th>
    <th>Requestee
    </th>
    </tr>
  </thead>
  {% for entry in history %}
  <tr>
    <td >
      {{entry.date_of_process}}
    </td>
    <td><a href="{% url 'item_details' name=entry.item_name %}">{{entry.item_name}}</a>
    </td>
    <td>{{entry.approved_quantity}}</td>
    <td>{{entry.action}}</td>
    <td>{{entry.requestee}}</td>
  </tr>
  {% endfor %}
</table>  


<script type="text/javascript">
      $(document).ready(function(){
        htable=$('#historytable').DataTable({
          select: true}
                                      );
      }
                       );
</script>

{% endblock history %}


{% block passwordrequest %}
{% if group|stringformat:"s" == "head" %}
{% for u in passwordreq %}
{% if forloop.first %}
      <h2>Password Change Requests:</h2>
{% endif %}
 <div id="passwordreq_req_panel{{forloop.counter}}">
  <div class="panel panel-default" width="20%">

    <div class="panel-body">
      
      <div class="row">
        <div class="col-sm-8">{{u}} requested for password change
        </div>
        <div class="col-sm-4" align="right">
          
          <button type="button" class="btn btn-default" onclick="passwordchangeok('{{u}}','{{forloop.counter}}')">Okay
          </button>
          
          <button type="button" class="btn btn-default" onclick="passwordchangecancel('{{u}}','{{forloop.counter}}')">Cancel
          </button>
        </div>

      </div>
    </div>
  </div>
</div> 
{% endfor %}
{% endif %}
{% endblock passwordrequest %}


{% block itemhistory %}
<table id="historyitemtable">
  <thead>
    <tr>
    <th >Date
    </th>
    <th>Item Name
    </th>
    <th>Quantity
    </th>
    <th>Action
    </th>
    <th>Added by
    </th>
    <th>Approved by
    </th>
    </tr>
  </thead>
  {% for entry in historyitems %}
  <tr>
    <td>{{entry.date_added}}</td>
    <td>{{entry.name}}</td>
    <td>{{entry.quantity}}</td>
    <td>{{entry.action}}</td>
    <td>{{entry.added_by}}</td>
    <td>{{entry.approved_by}}</td>
  </tr>
  {% endfor %}
</table>  


<script type="text/javascript">
      $(document).ready(function(){
        htable=$('#historyitemtable').DataTable({
          select: true}
                                      );
      }
                       );
</script>


{% endblock itemhistory %}