{% extends "inventory/base2.html" %}

{% block extraelements %}

  {% load static %}
  <script type="text/javascript" src="{% static 'account.js' %}"></script> 
  <script src="{% static 'js/bootbox.min.js' %}"></script>
     
{% endblock extraelements %}

{% block content %}
<input type="hidden" id="myusername" value="{{user.username}}">
<ul class="nav nav-tabs">
    <li>
      <a data-toggle="tab" href="#updateinfo">Update Information
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#chagepassword">Change Password
      </a>
    </li>
</ul>

<div class="tab-content">
  <div id="updateinfo" class="tab-pane fade in active">
        <form action="/updatepersonalinfo/" method="post" onsubmit="return validateForm()" name="myForm">
          {% csrf_token %}
            <div class="form-group">
              <label for="fname">First Name:</label>
              <input type="text" class="form-control" name="fname" id="fname" value='{{user.first_name}}' maxlength="50">
            </div>
            <div class="form-group">
              <label for="pwd">Last Name:</label>
              <input type="text" class="form-control" name="lname" id="lname" value='{{user.last_name}}'>
            </div>
            <div class="form-group">
              <label for ="pnumber">Phone Number:</label>
              <input type="text" class="form-control" name="phone_number" id="pnumber" value='{{profile.phone_number}}'>
            </div>
            <div class="form-group">
              <label for="mypost">Post:</label>
              <input type="text" class="form-control" name="mypost" id="mypost" value='{{profile.mypost}}'>
            </div>
            <div class="form-group">
              <label for="alt_email">Alternate Email:</label>
              <input type="text" class="form-control" name="alternate_email" id="alt_email" value='{{profile.alternate_email}}'>
              
            </div>
            
            <div class="form-group">
              <label for="oldp">Enter Password:</label>
              <input type="password" class="form-control" name="oldp" id="oldp" value=''>
              
            </div>
            <button type="submit" class="btn btn-default">Update</button>
          </form>
    <!--div update info ends here-->
  </div>
  <div id="chagepassword" class="tab-pane fade in form-horizontal">

    <div class="form-group" id='newpone'>
        <label class="control-label col-sm-3" for="newpassword1">New Password:</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="newpassword1" placeholder="Enter Your New Password">
          </div>
    </div>

    {% if group|stringformat:"s" == "head"%}
    <div class="form-group" id='newptwo'>
        <label class="control-label col-sm-3" for="newpassword2">New Password 2:</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="newpassword2" placeholder="Enter Your New Password 2">
          </div>
    </div>
    {% endif %}


    <div class="well" id="oldpassword">
      <div class="form-group" id='oldpone'>
        <label class="control-label col-sm-3" for="oldpassword1">Old Password:</label>
          <div class="col-sm-8">
          <input type="password" class="form-control" id="oldpassword1" placeholder="Enter Your Old Password">
          </div>
      </div>
      {% if group|stringformat:"s" == "head"%}
      <div class="form-group" id='oldptwo'>
        <label class="control-label col-sm-3" for="oldpassword2">Old Password 2:</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="oldpassword2" placeholder="Enter Your Old Password 2">
        </div>
      </div>
      {% endif %}
    </div>
  <!--div changepassword ends here-->
  <button type="button" class="btn btn-default" onclick="changepassword()">Submit</button>
  </div>

        
<!--div tab content ends here-->
 </div>         
{% endblock content %}
        