{% extends "inventory/base2.html" %}

{% block extraelements %}

  {% load static %}
  <script type="text/javascript" src="{% static 'account.js' %}"></script> 
  <script src="{% static 'js/bootbox.min.js' %}"></script>
     
{% endblock extraelements %}

{% block content %}
<form action="/updatepersonalinfo/" method="post" onsubmit="return validateForm()" name="myForm">
          {% csrf_token %}
            <div class="form-group">
              <label for="fname">First Name:</label>
              <input type="text" class="form-control" name="fname" id="fname" value='{{user.first_name}}' maxlength="50">
            </div>
            <div class="form-group">
              <label for="pwd">Last Name:</label>
              <input type="text" class="form-control" name="lname" id="lname" value='{{user.last_name}}'>
            </div>
            <div class="form-group">
              <label for ="pnumber">Phone Number:</label>
              <input type="text" class="form-control" name="phone_number" id="pnumber" value='{{profile.phone_number}}'>
            </div>
            <div class="form-group">
              <label for="mypost">Post:</label>
              <input type="text" class="form-control" name="mypost" id="mypost" value='{{profile.mypost}}'>
            </div>
            <div class="form-group">
              <label for="alt_email">Alternate Email:</label>
              <input type="text" class="form-control" name="alternate_email" id="alt_email" value='{{profile.alternate_email}}'>
              
            </div>
            <div class="form-group">
              <label for="newp">New Password:</label>
              <input type="password" class="form-control" name="newp" id="newp" value=''>
              
            </div>
            <div class="form-group">
              <label for="oldp">Old Password:</label>
              <input type="password" class="form-control" name="oldp" id="oldp" value=''>
              
            </div>
            <button type="submit" class="btn btn-default">Update</button>
          </form>
          
          <!--button onclick = 'updateinformation()'>Update</button-->
{% endblock content %}
        