
<div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
            <div class="col-sm-4">Request of {}</div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">Request for {}</div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">Requested Quantity:{}</div>
            <div class="col-sm-4" id="available_qty">Available:{}</div>
            
        </div>
        <p>Description:{}</p>
        

      </div>
      
    </div>


  </div>

  