{% extends "inventory/base2.html" %}

{% block extraelements %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">

<link  rel="stylesheet" href="{% static 'css/bootstrap-toggle.min.css' %}">

<script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>

<script type="text/javascript" src= "{% static 'users_scripts.js' %}"></script>
<script src="{% static 'js/bootbox.min.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

   
              
{% endblock extraelements %} 

{% block content %}
{% for u in user %}
<div id="moduserModal{{u.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modify user:{{u.username}}</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal" id="moduser">
              <div class="form-group">
                <label class="control-label col-sm-2" for="actiontype">Choose Action:</label>
                <div class="col-sm-10">
            
                  <select id="actiontype{{u.id}}" class="selectpicker" onchange="showaction(this.value,'{{u.is_active}}','{{u.username}}','{{u.id}}')">
                    <option value="Choose Action">Choose Action</option>
                    <option value="status">Change status</option>
                    <option value="edit">Edit Email</option>
                    <option value="delete">Delete User</option>
                  </select>
                  
                  
                  
                </div>
              </div>
              <div id="actiondiv{{u.id}}"></div>
                <div id="passwordinput{{u.id}}"></div>
              
            </div>
        
      </div>
      <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="moduser('{{u.id}}')">Submit</button>
          </div>
    </div>
    
  </div>
  
</div>
{% endfor %}
<div id="passwordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Enter Authentication</h4>
          </div>
          <div class="modal-body">

            <div class="form-horizontal">
              <div class="form-group">
                    <label class="control-label col-sm-2" for="cpassword">Password:</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="cpassword" placeholder="Enter Password">
                    </div>
                  </div>
            <div class="form-group">
                    <label class="control-label col-sm-2" for="cpassword2">Seccondary Password:</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="cpassword2" placeholder="Enter Seccondary Password">
                    </div>
            </div>
              
            </div>
          </div>
          
          <div class="modal-footer">
            <input type="hidden" id="id-carrier" value="">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="changestatus()">Submit</button>
          </div>
        </div>

    </div>
</div>

<div id="newuserModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" onclick="new_user_close()">&times;</button>
            <h4 class="modal-title">Creating New User</h4>
          </div>
          <div class="modal-body" id="newuserform">

            <div class="form-horizontal" id="userinfo">
              <div class="form-group">
                <label class="control-label col-sm-2" for="usertype">User Type:</label>
                <div class="col-sm-10">
                  {% if group|stringformat:"s" == "head" %}
            
                  <select id="usertype" class="selectpicker" onchange="showinput(this.value)">
                    <option value="User Type">User Type</option>
                    <option value="head">Admin</option>
                    <option value="manager">User</option>
                    <option value="temporary-head">Temporary Admin</option>
                  </select>
                  {% endif %}
                  {% if group|stringformat:"s" == "temporary-head" %}
                  
                  <select id="usertype" class="selectpicker" onchange="showinput(this.value)">
                    <option value="User Type">User Type</option>
                    <option value="manager">User</option>
                    <option value="temporary-head">Temporary Admin</option>
                  </select>
                  {% endif %}
                </div>
              </div>
              <div id="hemail"></div>
              <div id="hnick"></div>
              <div id="hpwd"></div>
              <div id="hpwd2"></div>
              <div id="adminpassword"></div>
          
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="createuser()">Create</button>
          </div>
        </div>

    </div>
</div>

<ul class="nav nav-tabs">
    <li>
      <a data-toggle="tab" href="#createremoveedit">Create Remove or Edit
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#loginhistory">Login History
      </a>
    </li>
</ul>

<div class="tab-content">
  <div id="createremoveedit" class="tab-pane fade in active">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newuserModal"> Create New User </button>
      <div>
        <p id="error" style="color:red"></p>
        
      </div>
      <div class="table-responsive">
      <table class="table table-stripped" data-toggle="table" id="user_table">
        <thead>
          <tr>
            <th data-sortable="true">Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Date Joined</th>
            <th>Created By</th>
            <th>Modify</th>
            
            
            
          </tr>
        </thead>
        {% for u in user %}

        <tr>
          <td>{{u.userprofile.nick_name}},{{u.first_name}} {{u.last_name}}</td>
          <td>{{u.username}}</td>
          <td>{{u.groups.all.0}}</td>
          <td>{{u.date_joined}}</td>
          <td>{{u.userprofile.created_by}}</td> 
          <!--td>
          {% if u.is_active|stringformat:"s" == "True" %}
            <input type="checkbox" onchange="changestatus('toggle{{u.id}}')"
            {% if group|stringformat:"s" == "temporary-head" %}
              {% if u.groups.all.0|stringformat:"s" == "head" %}
                disabled
              {% endif %} 
            {% endif %}
            {% if u.username|stringformat:"s" == request.user.username|stringformat:"s" %}
              disabled 
            {% endif %}
            checked id="toggle{{u.id}}" data-on="Active" data-off="Inactive">
          {% else %}
            <input type="checkbox" onchange="changestatus('toggle{{u.id}}')" 
              {% if group|stringformat:"s" == "temporary-head" %}
                {% if u.groups.all.0|stringformat:"s" == "head" %}
                  disabled
                {% endif %} 
              {% endif %}
            id="toggle{{u.id}}" data-on="Active" data-off="Inactive">  
          {% endif %}  
          </td-->
          <td>
            
            {% if u.username|stringformat:"s" == request.user.username|stringformat:"s" %}
              <button type="button" disabled class="btn btn-info btn-sm" data-toggle="modal" data-target="#moduserModal{{u.id}}"> Modify </button>
            {% else %}
              <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#moduserModal{{u.id}}"> Modify </button>
            {% endif %}
          </td>
           

        </tr>
        {% endfor %}
      </table>
      <!--div table responsive ends here-->
      </div>
    <!--div createremoveedit ends here-->
  </div>
  <div id="loginhistory" class="tab-pane fade in">
    <table class="table table-stripped" data-toggle="table" id="history_table">
      <thead>
            <tr>
              <th>Action</th>
              <th>User</th>
              <th data-sortable="true">Time Stamp</th>
            </tr>
          </thead>
      {% for h in history %}
        <tr>
          <td>{{h.action}}</td>
          <td>{{h.user_name}}</td>
          <td>{{h.timestamp}}</td>
        </tr>
      {% endfor %}
    <!--history_table-->
    </table>
    <!--div loginhistory-->
  </div>
  <!--div tab content ends here-->
</div>




<script type="text/javascript">
	$(document).ready(function(){

  /*$('input[id^="toggle"]').each(function(){
    $('#'+this.id).bootstrapToggle();
    
  });*/

  
});
</script>           

{% endblock content %}


